.Nfilme{

    font-size: 20px;
    margin-left: 9px;

}

.imgF{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 9px;

}


.flex{
    
    width: 1024px;
    margin: auto;
}

.tituloCF{
    font-size: 20px;
    margin-bottom: 21px;
}

.ipscFilme{
    display: flex;
    justify-content: space-between;
    
}

.IPCfilme{

    width: 400px;
    height: 58px;
    padding-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
}
.IPCfilme::placeholder{
    font-family: 'Roboto, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4B2142;

}
.IPGenero{


   
    width: 400px;
    height: 62px;
    border: 1px solid #000000;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../../Img/select.png);
    background-repeat: no-repeat, repeat;
    background-position: right 1.2em top 60%, 0 0;
    background-size: 0.8em auto, 100%;
    padding: 10px;
    color: #4B2142;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; 
    font-family: 'Roboto';

    
}
.IPGenero::placeholder{
    font-family: 'Roboto, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4B2142;

}


/* seção 1 */

.listFilmes{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 99px;
}



.tFilmes{

    display: flex;
    width: 1024px;
    margin-top: 44px;
    justify-content: space-between;

}

.filmeN{

    width: 161px;
    display: flex;
    align-items: center;

}
.filmeG{
    width: 161px;
    display: flex;
    align-items: center;
}

.botoesEE{
    width: 350px;
    margin-top: 30px;

}
