
.rodape {
    
    background-color: var(--laranja);
    max-width: 1440px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.RPlogo {

    width: 177px;
    height: 62px;
    margin-right: 45px;
    margin-bottom: 70px
}

.linha {

    width: 1px ;
    height: 220px;
    background-color: var(--branco);
}

.contatos {

    display: flex;
    flex-direction: column;
    color: var(--branco);
    margin-left: 45px;
}